{% if page.show_profile %}
    <div class="card bg-light">
        <div class="card-body text-center">
            {{site.author.name}}
            {% include profile-avatar.html %}
            {% include profile-body.html %}
        </div>
    </div>
{% endif %}

{% if page.show_tags %}
    {% include all-tags.html %}
{% endif %}

{% if page.show_skills %}
    {% include all-skills.html %}
{% endif %}

{% if page.path contains '_projects' %}
    {% include project-meta.html %}
{% endif %}

{% if page.path contains '_posts' %}
    {% include post-meta.html %}
{% endif %}

{% if page.path contains '_portfolio' %}
    {% include portfolio-meta.html %}
{% endif %}
